/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

a, a:active, a:visited { color: inherit; }

::-moz-selection {
    background: #FF4000;
    text-shadow: none;
}

::selection {
    background: #FF4000;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #E8E8E8;
    color: #000;
    padding: 0.2em 0;
}

th {
    text-align: left;
}
td, th {
    padding-left: 1em;
}

/*******************************************/
/* CSS TEMPLATE                            */
/* To be used with a reset, or Initializr  */
/* @author Amy Guy (rhiaro.co.uk)          */
/* @date 6th December 2011                 */
/* @last-updated 18th Mar 2013              */
/*******************************************/

/** 
    0.0 Accessibility
**/
    .no-css {
        /* This class hides stuff that needs to be around for screenreaders
         * or users with no CSS, but not in normal circumstances
         */
        position: absolute; left: -1000px;
    }

    @media screen and (min-width: 768px){
        .mob {
            display: none; visibility: hidden;
        }
    }

/** 
    1.0 Typography
**/

    body {
        font-size: 1.2em;
        line-height: 1.4;
        font-family: "Rosario", Arial, Helvetica, sans-serif;
        overflow-x: hidden;    }

    h1 { font-size: 3em; font-weight: bold; line-height: 0.2; text-align: center;  letter-spacing: -2px; text-shadow: 2px 2px 1px white; font-family: Arial, Helvetica, sans-serif;}
    h2 { font-size: 1.2em; font-style: italic; text-align: center; letter-spacing: -1px; font-family: Times, serif; text-transform: lowercase; color: silver;}
    h3 { font-size: 1.4em; font-weight: bold; text-transform: none;}
    h4 {}
    h5 {}

    header a { text-decoration: none; color: inherit; }
    header a:hover {text-decoration: none; }
    p a { text-decoration: none; }
    li a {text-decoration: underline;}
    footer a { text-decoration: underline;}
    a { text-decoration: inherit; }
    a:hover { text-decoration: underline; }

    nav { text-align: center; letter-spacing:0.1em; font-weight: bold;}
    nav a:hover { text-decoration: none; }

    .note {
      font-size: 1em;
      font-weight: bold;
      text-align: right;
    }

    .wee, footer {
      font-size: 0.8em;
    }

    .win, .fail {}
    ul.win, ul.fail, form ul { list-style-type: none;}
    form ul { margin: 0; padding: 0;}

    .upp { text-transform: uppercase; }
    .low { text-transform: lowercase; }
    .cap { text-transform: capitalize; }
    .align-left { text-align: left;}
    .align-right { text-align: right;}
    .align-center { text-align: center;}

    button, .btn, .btn-big {
      text-align: center;
    }

    button a, .btn a, .btn-big a {
      text-decoration: none;
    }

    footer a {
        text-decoration: underline;
    }

/*  1.2     */
    @media screen and (min-width: 768px){
        h2 { line-height: 0.2; }
    }

/*  1.3     */
    @media screen and (min-width: 1024px){}

/*  1.4     */
    @media screen and (min-width: 1200px){}


/** 
    2.0 Colors, shadows, borders
**/
    
    /* Borders */
      .win, .fail, .color1-border, .color2-border, .color3-border, .lighter-border { border: 2px solid;}
      .dark-top-border, .color1-top-border, .color2-top-border, .color3-top-border, .light-top-border { border-top: 2px solid;}
      input, textarea { border: 1px solid silver; }
      .btn-big { border-radius: 6px; }

        nav ul li a:hover {
            border-bottom: 4px solid #008CFF;
            margin-top: -4px;
            color: #008CFF;
        }
        nav ul li a.no-hov:hover { border: none; }

    /* Darkish */
        .darkish{ color: #9e9e9e;  }
        .darkish-bg{ background-color: #9e9e9e; }
        .darkish-texture { background-color: #9e9e9e; background-repeat: repeat;}
        .darkish-border { border-color: #9e9e9e; }
        .darkish-gradient {}
        .darkish-hov:hover { color: #9e9e9e; }
    /* Dark */
        .dark{ color: #2d2d2d;  }
        .dark-bg{ background-color: #2d2d2d; }
        .dark-texture { background-color: #2d2d2d; background-repeat: repeat;}
        .dark-border { border-color: #2d2d2d; }
        .dark-gradient {}
        .dark-hov:hover { color: #2d2d2d; }
    /* Darker */
        .darker { color: #000; }
        .darker-bg{ background-color: #000; }
        .darker-texture { background-color: #000; }
        .darker-border { border-color: #000; }
        .darker-gradient {}
        .darker-hov:hover { color: #000; }

    /* Primary Color (orange) */
        .color1{ color: #FF4000;}
        .color1-bg{ background-color: #FF4000;}
        .color1-texture { background-color: #FF4000; }
        .color1-border{ border-color: #FF4000;}
        .color1-gradient {}
        .color1-hov:hover { color: #FF4000; }
        .color1-bg-hov:hover { background-color: #FF4000; }
        
    /* Secondary Color (blue) */
        .color2 { color: #008CFF;}
        .color2-bg{ background-color: #008CFF;}
        .color2-texture { background-color: #008CFF; background-repeat: repeat;}
        .color2-border{ border-color: #008CFF;}
        .color2-gradient {}
        .color2-hov:hover { color: #008CFF;}

    /* Teritiary Color (purple) */
        .color3 { color: #4000FF;}
        .color3-bg{ background-color: #4000FF;}
        .color3-texture { background-color: #4000FF; }
        .color3-border{ border-color: #4000FF;}
        .color3-gradient {}
        .color3-hov:hover { color: #4000FF;}

    /* Light */
        .light { color: #E8E8E8; }
        .light-bg{ background-color: #E8E8E8; }
        .light-texture {background-color: #ededed; background-image:url('../img/dimension.png'); background-repeat: repeat;}
        .light-border {border-color: #E8E8E8; }
        .light-gradient {}
        .light-hov:hover { color: #E8E8E8; }

    /* Lighter */
        .lighter{ color: #fff; }
        .lighter-bg{ background-color: #fff; }
        .lighter-texture {}
        .lighter-border {border-color: #fff; }
        .lighter-gradient {}
        .lighter-hov:hover { color: #fff; }

    .note { color: silver; }

    .trans { opacity: 0.6; }
    .opaque { opacity: 1; }

    .win {
      background-color: #E6EFC2;
      color:#264409;
      border-color:#C6D880;
    }

    .fail {
      background:#FBE3E4;
      color:#8a1f11;
      border-color:#FBC2C4;
    }

    .btn a, input.btn {
        border: 1px solid;
        border-radius: 10px;
    }


/** 
    3.0 Spacing / Grid
**/

    .wrapper { width: 100%; }

    /* Grid */
    .w1of1, .w1of2, .w1of3, .w1of4, .w1of5,
    .w2of3, .w3of4, .w2of5, .w3of5, .w4of5 {
        width: 100%;
    }

    .inner { padding: 0.6em; }
    .unpad { padding: 0; margin: 0;}

    nav {
        width: 100%;
        max-width: 100%;
    }
    nav a {
        display: inline-block;
        padding: 0.8em;
    }
    
    nav ul { padding: 0; margin: 0;}
    ul.subp { margin-top: -1em; margin-left: 8em;}
    ul.subp li, ul.subp p { padding: 0; margin: 0; }

    .btn { display: inline-block; margin: 0; padding: 0;}
    button {
      padding: 0.5em;
    }
    .btn a, .btn-big a {
      padding: 0.5em;
      display: block; width: 100%;
    }
    input.btn { padding: 0.5em; }

    input, textarea { padding: 0.2em; }

    label.neat {
        display: inline-block;
        width: 5.6em;
    }
    input.neat {
        display: inline-block;
        width: 75%;
    }
    label.neat-big {
        display: inline-block;
        width: 100%;
    }
    input.neat-big, textarea.neat-big, textarea.neat, select.neat-big {
        display: inline-block;
        width: 90%;
    }
    textarea.neat, textarea.neat-big {
        height: 48em;
    }

    .inline { display: inline; }
    .right { float: right; }
    .left { float: left; }

    .win, .fail {
      padding: 0.2em;
      display: block;
    }

    footer { margin-top: 2em; }

/*  3.1     */
    @media screen and (min-width: 479px){

        nav li { float: left; padding-left: 1em; padding-right: 1em; }
        nav a {  }

        .navlink {
            visibility: hidden;
        }

        #nav {
            position: absolute;
            top: 0;
            width: 100%;
        }

    }

/*  3.2     */
    @media screen and (min-width: 768px){

        .wrapper { 
            width: 90%; max-width: 1200px; 
            margin-left: auto; margin-right: auto;
        }

        .w1of2 { width: 50%; float: left; }
        .w1of3 { width: 33%; float: left; }
        .w1of4 { width: 25%; float: left; }
        .w1of5 { width: 20%; float: left; }
        .w2of3 { width: 66%; float: left; }
        .w3of4 { width: 75%; float: left; }
        .w2of5 { width: 40%; float: left; }
        .w3of5 { width: 60%; float: left; }
        .w4of5 { width: 80%; float: left; }

        .w1of3:nth-child(odd) { clear: none; }
        .w1of3:nth-child(3n-2) { clear: both; }

        .content { height: 100%; overflow-y: scroll;}
        .content .inner { padding-left: 32px; padding-top: 64px;}
        nav a { display: block; }
        nav .btn-big a { padding-top: 1.2em; padding-bottom: 1.2em;}
        nav .btn-big .logo { margin-top: -0.6em; }

    }

/*  3.3     */
    @media screen and (min-width: 1024px){
        .pos-right { position: absolute; top: 0; right: 8px;}
        .pos-left { position: absolute; top: 0; left: 8px;}
    }

/*  3.4     */
    @media screen and (min-width: 1200px){}


/** 
    4.0 Images & video
**/

    img { max-width: 100%; }
    .logo { width: 100%; max-width: 144px;}
    .icon { width: 100%; max-width: 64px;}

    .vid-holder {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        text-align: center;
    }

    .vid-holder iframe,  
    .vid-holder object,  
    .vid-holder embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Full width images on bigger than small screens are dumb. Reset this. */
    @media screen and (max-width: 478px){
      .w1of1 img, .w1of2 img, .w1of3 img, .w1of4 img, .w1of5 img,
      .w2of3 img, .w3of4 img, .w2of5 img, .w3of5 img, .w4of5 img {
        width: 100%;
      }
    }







/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {

}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}